.nav-main {
    color: green;
    /* display: flex; */
    align-items: center;
    padding: 2px;
    text-decoration: underline;
    font-size: 20px;
    justify-content: space-around;
    display: inline;
    list-style-type: none;
    
    
}